.App {
  text-align: center;
  width: 90%;
  margin: auto;
}

.catalog{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.searchBar{
  position: relative;
  left: 416px;
}

.signUpBtn{
  margin-right: 25px;
}

.rightNav{
  display: flex;
  align-items: center;
}
